
.skils{
  margin: 20px;
  padding: 20px;
}

.skills__list {
  max-width: 450px;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__list-item {
  margin: 2%;
}