
.skils{

  margin: 5%;
  
}


.skills__list {
  max-width: 450px;
  width: 95%;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__list-item {
  margin: 2%;
}

@media (max-width: 714px) {

  .skills__list {
    
    width: 80%;
    border-radius: 10px;
    justify-content: center;
  }
  .skils{

    margin: 5%;
    
  }

}

@media (max-width: 714px) {

  .skills{

    margin: 5%;
    
  }

}